
.poper {
  z-index: 1;
  border-width: 1px;
  border-radius: 4px;
  &[data-popper-placement^="right"] > [data-popper-arrow] {
    left: -4px;
    &::before {
      border-right: none;
      border-top: none;
    }
  }
  &[data-popper-placement^="bottom"] > [data-popper-arrow] {
    top: -4px;
    &::before {
      border-right: none;
      border-bottom: none;
    }
  }
  &[data-popper-placement^="top"] > [data-popper-arrow] {
    bottom: -4px;
    &::before {
      border-left: none;
      border-top: none;
    }
  }
  &[data-popper-placement^="left"] > [data-popper-arrow] {
    right: -4px;
    &::before {
      border-left: none;
      border-bottom: none;
    }
  }
  &::after {
    display: none;
  }
  &::before {
    display: none;
  }
}
.popper-inner {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.arrow {
  height: 8px;
  width: 8px;
  &::before {
    background: #fff;
    position: absolute;
    height: 8px;
    width: 8px;
    content: '';
    transform: rotate(45deg);
    top: 0px;
    left: 0px;
    box-sizing: border-box;
  }
}
.poper-enter {
  opacity: 0;
}
.poper-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.poper-exit {
  opacity: 1;
}
.poper-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}